WAP to print your name three times

In [1]:
for i in range(3):
    print('Shivam Kumar')

Shivam Kumar
Shivam Kumar
Shivam Kumar

 WAP to add three numbers and print the result.

In [2]:
a=12
b=33
c=52
print("Sum ",a,'+',b,'+',c,'=',a+b+c)

Sum  12 + 33 + 52 = 97

WAP to concatinate three strings and print the result.

In [3]:
a='Thapar'
b='Institute'
c='Patiala'
print(a,'+',b,'+',c,'=',a+' '+b+' '+c)

Thapar + Institute + Patiala = Thapar Institute Patiala

In [ ]:
WAP to print the table of 7, 9.

In [9]:
x=7
for i in range(1,11):
    print(x,'*',i,'=',x*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [11]:
x=9
for i in range(1,11):
    print(x,'*',i,'=',x*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [4]:
x=int(input('enter a number:'))
for i in range(1,11):
    print(x,'*',i,'=',x*i)

enter a number: 11

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [ ]:
WAP to add all the numbers from 1 to n and n is given by user

In [5]:
sum=0
n=int(input('Enter a number:'))
for i in range(1,n+1):
    sum+=i
print(sum)

Enter a number: 9

45

 WAP to find max amoung three numbers and input from user.

In [6]:
x=int(input('enter a number:'))
y=int(input('enter a number:'))
z=int(input('enter a number:'))
if(x>max(y,z)):
    print(x,'is greater')
else:
    print(max(y,z),'is greater')

enter a number: 23
enter a number: 22
enter a number: 21

23 is greater

WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [7]:
sum=0
a=int(input('enter a number:'))
for i in range(1,a):
    if(i%63==0):
       sum+=i
print(sum)

enter a number: 126

63

In [ ]:
WAP to add all prime numbers from 1 to n and n is given by the user.

In [8]:
sum=0
n=int(input('Enter a number:'))
for i in range(2,n+1):
    is_prime=True
    for j in range(2,int(i**0.5)+1):
        if(i%j==0):
            is_prime=False
            break
    if(is_prime==True):
        sum+=i
print(sum)

Enter a number: 15

41

WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [9]:
def odd(n):
    sum=0
    for i in range(1,n+1):
        if(i%2!=0):
            sum+=i
    return sum
n=int(input('enter any number:'))
print('sum of odd numbers from 1 to',n,'is',odd_sum(n))

enter any number: 15

sum of odd numbers from 1 to 15 is 64

WAP using function that add all prime numbers from 1 to n, n given by the user.

In [11]:
def prime(n):
    sum=0
    for i in range(2,n+1):
        is_prime=True
        for j in range(2,int(i**0.5)+1):
            if(i%j==0):
                is_prime=False
                break
        if(is_prime==True):
            sum+=i
    print("sum of all prime numbers upto",n,'is',sum)
n=int(input('Enter a number:'))   
prime(n)

Enter a number: 21

sum of all prime numbers upto 21 is 77