1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

(i) WAP to add 200 and 300 to L. (ii) WAP to remove 10 and 30 from L. 
(iii) WAP to sort L in ascending order. (iv) WAP to sort L in descending order.

In [2]:
mylist=[10, 20, 30, 40, 50, 60, 70, 80]

mylist.append(200)
mylist.append(300)

# mylist.extend([200,300])
print(mylist)

mylist.remove(10)
print(mylist)
mylist.remove(30)
print(mylist)

mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it‚Äôs not present.

In [48]:
mytuple=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

print("Original Tuple :",mytuple)

print("Maximum marks : ",max(mytuple))

for i in range (len(mytuple)) :
    if(mytuple[i]==max(mytuple)):
        print("Index of maximum marks is :",i)


print("Minimum marks : ",min(mytuple))
count=0
for i in range (len(mytuple)) :
    if(mytuple[i]==min(mytuple)):
        count+=1
print("No. of times minimum marks occur :",count)

mytuple=list(mytuple)

mytuple.reverse()
# mytuple=tuple(mytuple)
print("After reversing :",mytuple)
# mytuple=list(mytuple)

print("Type of tuple",type(mytuple))

if 76  in mytuple:
    print(mytuple.index(76))

else:
    print("Not found")

Original Tuple : (45, 89.5, 76, 45.4, 89, 92, 58, 45)
Maximum marks :  92
Index of maximum marks is : 5
Minimum marks :  45
No. of times minimum marks occur : 2
After reversing : [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Type of tuple <class 'list'>
5

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: (i) All odd numbers (ii) All even numbers (iii) All prime numbers

In [6]:
import random 

number=random.randint(100,900)
print("Random number is :",number)

print("\nEven numbers are :")

for i in range(1,number):
    if(i%2)==0:
        print(i,end=",")
print("\nOdd numbers are :")

for i in range(1,number):
    if(i%2)!=0:
        print(i,end=",")

print("\nPrime numbers are :")
for i in range (2,number):
    prime=True
    for j in range(2,i-1):
        if(i%j)==0:
            prime=False
            break
    if prime==True:    
        print(i,end=",")

Random number is : 172

Even numbers are :
2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,
Odd numbers are :
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,
Prime numbers are :
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,

4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23
WAP to perform the following operations using set functions:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersection of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [1]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


# i PART
print("Union :")
print(A.union(B))
print(A|B)

# ii PART
print("Intersection :")
print(A.intersection(B))
print(A&B)

# iii PART
print("Symmetric Difference :")
print(A.symmetric_difference(B))
print(A^B)

# iv PART
check=True
for i in A:
    if i not in B:
        print("A is not a subset of B")
        check=False
        break
if check:
    print("A is subset of B")


# v PART
x=int(input("Enter a value"))
if x in A:
    A.remove(x)
    # A.discard(x) 
    print("After removing ",x,":",A)
else:
    print("Not found")

Union :
{34, 45, 78, 23, 56, 90}
{34, 45, 78, 23, 56, 90}
Intersection :
{90, 78}
{90, 78}
Symmetric Difference :
{34, 45, 23, 56}
{34, 45, 23, 56}
A is not a subset of B

Enter a value 34

After removing  34 : {56, 90, 78}

5. Write a program to rename a key city to a location in the following dictionary.

In [52]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New york"    
}

sample_dict['location']=sample_dict['city']
del sample_dict['city'];

for i,j in sample_dict.items():
    print(i,":",j)

name : Kelly
age : 25
salary : 8000
location : New york